@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Started */
.hero-bg {
    background-image: url("/assets/images/hero/hero-background.webp");
  }
  .banner-lg {
    background-image: url("/assets/images/banner/banner-lg.webp");
  }
  .banner-mobile {
    background-image: url("/assets/images/banner/banner-mobile.webp");
  }
  .subscribe-lg {
    background-image: url("/assets/images/subscribe/Subscribe.png");
  }
  .subscribe-mobile {
    background-image: url("/assets/images/subscribe/subscribe-mobile.webp");
  }
  .sub-header {
    background-image: url("/assets/images/share/sub-header-section.webp");
  }
  .sub-header-mobile {
    background-image: url("/assets/images/share/sub-header-section-mobile.webp");
  }
  /* Background End */
  
  /* Navlink Active  */
   .nav-link{
    @apply text-primary_3 font-Montserrat font-semibold px-4 py-[10px] bg-[#F5F5F5] rounded-xl
  } 
  
  
  .categories:hover svg path {
    fill: white;
  }
  
  /* Delivery Process started  */
  @media (min-width: 1146px) and (max-width: 1279px) {
    .dots {
      left: calc(100% + 20px);
    }
  }
  @media (min-width: 1024px) and (max-width: 1145px) {
    .dots {
      left: calc(100% + 6px);
      gap: 12px;
    }
  }
  
  .dots span.active {
    height: 10px;
    width: 10px;
    background: #91bf73;
    /* @apply bg-primary_3; */
  }
  /* Delivery Process end  */
  
  /* swiper-pagination-bullet started  */
  
  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 50px;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background: #47a358;
  }
  
  /* swiper-pagination-bullet end  */
  
